<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<!-- <div class="col-lg-4 col-sm-6">
				<div class="about-img">
					<img src="images/about/psychotherapy_woman.png" alt="" class="img-fluid">
					<img src="images/about/woman_window.png" alt="" class="img-fluid mt-4">
				</div>
			</div> -->
			<div class="col-sm-6">
				<div class="about-img mt-4 mt-lg-0">
					<img src="images/about/brain_after_tms.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="about-content pl-4 mt-4 mt-lg-0">
					<h2 class="title-color">It's not you, it's the brain.</h2>
					<p class="mt-4 mb-5">Depression is caused by a lack of sufficient activity in the left dorsolateral prefrontal cortex, essentially the front left part of your brain.
						When this area is working properly, the entire brain lights up, creating an improved mood, working memory, and selective attention.</p>

					<a href="about-tms-therapy.html" class="btn btn-main-2 btn-round-full btn-icon">Learn More<i class="icofont-simple-right ml-3"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>