<section class="cta-section ">
	<div class="container">
		<div class="cta position-relative">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-doctor"></i>
						<span class="h3 counter" data-count="60" data-unit="K">0K</span>
						<p class="text-med">Patients Received TMS Therapy</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-flag"></i>
						<span class="h3 counter" data-count="2" data-unit="M">0M</span>
						<p class="text-med">TMS Treatments Administered</p>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-badge"></i>
						<span class="h3 counter" data-count="80" data-unit="%">0</span>
						<p class="text-med">Success Rate</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-globe"></i>
						<span class="h3 counter" data-count="50" data-unit="%">0</span>
						<p class="text-med">Full Remission</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>