<section class="section doctor-single">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="section-title text-center">
					<h2 class="mb-4">Meet Our Specialist</h2>
					<div class="divider mx-auto my-4"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="doctor-img-block">
					<!-- <img src="images/team/dr-ayub.jpg" alt class="img-fluid w-100"> -->
					<div class="about-img mt-4 mt-lg-0">
						<img src="images/team/dr-ayub.jpg" alt class="img-fluid">
					</div>
					<div class="info-block mt-4">
						<h4 class="mb-0">Ayub Mwaura</h4>
						<p>MSN, PMHNP-BC</p>

						<!-- <ul class="list-inline mt-4 doctor-social-links">
							<li class="list-inline-item"><a href="#!"><i
										class="icofont-facebook"></i></a></li>
							<li class="list-inline-item"><a href="#!"><i
										class="icofont-twitter"></i></a></li>
							<li class="list-inline-item"><a href="#!"><i
										class="icofont-skype"></i></a></li>
							<li class="list-inline-item"><a href="#!"><i
										class="icofont-linkedin"></i></a></li>
							<li class="list-inline-item"><a href="#!"><i
										class="icofont-pinterest"></i></a></li>
						</ul> -->
					</div>
				</div>
			</div>

			<div class="col-lg-8 col-md-6">
				<div class="doctor-details mt-4 mt-lg-0">
					<h2 class="text-md">Ayub Mwaura, MSN, PMHNP-BC</h2>
					<p class="text-med">
						I am a PMHNP-BC with over 16 years of psychiatric nursing experience,
						board-certified in Psychiatric Mental Health. I earned my BSN from Winston
						Salem State University and MSN & PMHNP from University of North Carolina
						at Chapel Hill. My expertise includes inpatient psychiatric units,
						emergency rooms, long-term care facilities, and outpatient clinics. I
						specialize in treating adults with mental illnesses such as anxiety,
						depression, ADHD, and other mood disorders, utilizing TMS, medication
						management, and supportive psychotherapy.</p>
					<p class="text-med">
						I have a patient-centered approach and involve patients in their care for
						optimal outcomes. I am a member of American Psychiatric Nurses
						Association, Association of Advanced Practice Psychiatric Nurses, Clinical
						TMS Society, and The Brain & Behavior Research Foundation. My goal is to
						provide high-quality psychiatric and mental health care with empathy and
						compassion, empowering patients to take charge of their well-being.</p>

					<a href="appoinment.html" class="btn btn-main-2 btn-round-full mt-3">Make
						an Appointment<i
							class="icofont-simple-right ml-2  "></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section doctor-qualification gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="section-title">
					<h3>My Educational Qualifications</h3>
					<div class="divider my-4"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 mb-4 mb-lg-0">
				<div class="edu-block mb-5">
					<!-- <span class="h6 text-muted">Year(2005-2007) </span> -->
					<h4 class="mb-3 title-color">BSN from Winston
						Salem State University</h4>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="edu-block mb-5">
					<!-- <span class="h6 text-muted">Year(2009-2010) </span> -->
					<h4 class="mb-3 title-color">MSN & PMHNP from University of North
						Carolina</h4>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section doctor-skills">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h3>My Experience</h3>
				<div class="divider my-4"></div>
				<p class="text-med">My expertise includes inpatient psychiatric units, emergency rooms,
					long-term care facilities, and outpatient clinics.</p>
			</div>
			<div class="col-lg-4 text-med">
				<div class="skill-list">
					<h5 class="mb-4">Expertise area</h5>
					<ul class="list-unstyled department-service">
						<li><i class="icofont-check mr-2"></i>Anxiety</li>
						<li><i class="icofont-check mr-2"></i>Depression</li>
						<li><i class="icofont-check mr-2"></i>PTSD</li>
						<li><i class="icofont-check mr-2"></i>ADHD</li>
						<li><i class="icofont-check mr-2"></i>MDD</li>
						<li><i class="icofont-check mr-2"></i>Other mood disorders</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 text-med">
				<div class="sidebar-widget  gray-bg p-4">
					<h5 class="mb-4">Make Appointment</h5>

					<ul class="list-unstyled lh-35">
						<li class="d-flex justify-content-between align-items-center">
							<span>Monday - Friday</span>
							<span>9 AM - 5 PM</span>
						</li>
						<li class="d-flex justify-content-between align-items-center">
							<span>Saturday & Sunday</span>
							<span>Closed</span>
						</li>
					</ul>

					<div class="sidebar-contatct-info mt-4">
						<p class="mb-0">Call now for a TMS consultation</p>
						<h3 class="text-color-2"><a href="tel:253-234-4199">253-234-4199</a></h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
