<section class="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="feature-block d-lg-flex">
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-surgeon-alt"></i>
						</div>
						<h4 class="mb-3">Online Appointment</h4>
						<p class="mb-4">We help our patients by creating individualized treatment
							plans aligned to medication management and general psychiatric care or
							psychotherapy.</p>
						<a
							href="/appoinment.html"
							class="btn btn-main-2 btn-round-full">Schedule an
							appointment</a>
					</div>

					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-ui-clock"></i>
						</div>
						<span>Timing schedule</span>
						<h4 class="mb-3">Working Hours</h4>
						<ul class="w-hours list-unstyled">
							<li class="d-flex justify-content-between">Mon - Fri : <span>9:00 AM -
									05:00 PM</span></li>
							<li class="d-flex justify-content-between">Sat & Sun :
								<span>CLOSED</span></li>
						</ul>
					</div>

					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-surgeon-alt"></i>
						</div>
						<h4 class="mb-3">Learn More About TMS Therapy</h4>
						<p class="mb-4">NeuroSync TMS Therapy chose to invest in BrainsWay Deep
							TMS technology due to its effectiveness in treating depression.</p>
						<a href="about-tms-therapy.html"
							class="btn btn-main-2 btn-round-full">Learn
							more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
