<!-- footer Start -->
<footer class="footer section gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mr-auto col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<div class="logo mb-4">
						<img src="images/neurosync_logo.png" alt class="img-fluid">
					</div>
					<div class="footer-contact-block">
						<div class="icon d-flex align-items-center">
							<i class="icofont-support mr-3"></i>
							<span class="h6 mb-0">Address:</span>
						</div>
						<h4 class="mt-2"><a href="https://maps.app.goo.gl/nAe6yjQCJrN4pbi68"
								target="_blank"
								rel="noopener noreferrer">4007 Bridgeport Way W, Suite B
								University Place, WA 98466 </a></h4>
					</div>

					<ul class="list-inline footer-socials mt-4">
						<li class="list-inline-item">
							<a href="https://www.facebook.com/mwaurason1/" target="_blank"
								rel="noopener noreferrer"><i
									class="icofont-facebook"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="https://maps.app.goo.gl/nAe6yjQCJrN4pbi68" target="_blank"
								rel="noopener noreferrer"><i
									class="icofont-location-pin"></i></a>
						</li>
					</ul>
				</div>
			</div>

			<div class="mr-auto col-lg-3 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Business Hours:</h4>
					<div class="divider mb-4"></div>
					<ul class="list-unstyled lh-35">
						<li class="d-flex justify-content-between align-items-center">
							<h4>Mon - Fri</h4>
							<h4>9AM - 5PM</h4>
						</li>
						<li class="d-flex justify-content-between align-items-center">
							<h4>Sat & Sun</h4>
							<h4>Closed</h4>
						</li>
						<li class="d-flex justify-content-between align-items-center">
							<span class="mt-4">GOOD FAITH ESTIMATE NOTICE TO PATIENTS</span>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget widget-contact mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Get in Touch</h4>
					<div class="divider mb-4"></div>

					<div class="footer-contact-block mb-4">
						<div class="icon d-flex align-items-center">
							<i class="icofont-email mr-3"></i>
							<span class="h6 mb-0">Email us at:</span>
						</div>
						<h4 class="mt-2"><a
								href="mailto:info@tmsandgp.com">info@tmsandgp.com</a></h4>
					</div>

					<div class="footer-contact-block">
						<div class="icon d-flex align-items-center">
							<i class="icofont-support mr-3"></i>
							<span class="h6 mb-0">Call us at:</span>
						</div>
						<h4 class="mt-2"><a href="tel:253-234-4199">253-234-4199</a></h4>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-divider"></div>
		<div class="row policy-bar">
			<span class="mt-2"><a href="privacy-policy.html">PRIVACY POLICY </a></span>
			<span class="mt-2"><a>© 2024
					ALL RIGHTS RESERVED NEUROSYNC TMS THERAPY</a></span>
			<span class="mt-2"><a href="terms-conditions.html">TERMS & CONDITIONS</a></span>
		</div>
	</div>
</footer>