<section class="section service-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-block mb-5">
                    <img src="images/service/service-1.jpg" alt
                        class="img-fluid">
                    <div class="content">
                        <h4 class="mt-4 mb-2 title-color">TMS REGISTRATION</h4>
                        <p class="mb-4">Our TMS Registration Form pdf is based
                            on the same information that will be required on
                            your insurance's prior authorization form. While we
                            understand the form can be tedious to complete, it's
                            important in order to receive TMS treatment.</p>
                        <a href="https://irp.cdn-website.com/902baffd/files/uploaded/1.0%20Adult%20TMS%20Registration.pdf" target="_blank"
                            class="btn btn-main-2 btn-round-full mt-3 b-0">Download<i
                                class="icofont-simple-right ml-2  "></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-block mb-5">
                    <img src="images/service/service-2.jpg" alt
                        class="img-fluid">
                    <div class="content">
                        <h4 class="mt-4 mb-2  title-color">TMS EXCLUSION
                            CRITERIA</h4>
                        <p class="mb-4">
                            Please complete the following pdf form prior to the
                            start of your TMS treatment. If you have selected
                            any of the boxes under the Contraindicated Section,
                            then TMS therapy is contraindicated, and therefore,
                            would not be a viable treatment option for you.</p>
                        <a href="https://irp.cdn-website.com/902baffd/files/uploaded/2.0%20TMS%20Exclusion%20Criteria.pdf" target="_blank"
                            class="btn btn-main-2 btn-round-full mt-3">Download<i
                                class="icofont-simple-right ml-2  "></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-block mb-5">
                    <img src="images/service/service-3.jpg" alt
                        class="img-fluid">
                    <div class="content">
                        <h4 class="mt-4 mb-2 title-color">MEDICATION CHECKLIST
                        </h4>
                        <p class="mb-4">The following pdf contains a list of
                            common medications that are used to treat
                            depression. If you have brought a medication list or
                            had your records sent from your physician's office,
                            please fill out this form and bring those documents
                            to your consultation.</p>
                        <a href="https://irp.cdn-website.com/902baffd/files/uploaded/3.0%20Medication%20Checklist.pdf" target="_blank"
                            class="btn btn-main-2 btn-round-full mt-3">Download<i
                                class="icofont-simple-right ml-2  "></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-block mb-5 mb-lg-0">
                    <img src="images/service/service-4.jpg" alt
                        class="img-fluid">
                    <div class="content">
                        <h4 class="mt-4 mb-2 title-color">PHQ-9 AND GAD-7
                        </h4>
                        <p class="mb-4">You can use the PHQ-9 and GAD-7 to
                            screen for depression, as well as measure the level
                            of symptom severity in people with depression. Both
                            the PHQ-9 and GAD-7 can be used for other anxiety
                            disorders such as phobias and generalized anxiety
                            disorder.</p>
                        <a href="https://irp.cdn-website.com/902baffd/files/uploaded/4.0%20PHQ9%20and%20GAD7.pdf" target="_blank"
                            class="btn btn-main-2 btn-round-full mt-3">Download<i
                                class="icofont-simple-right ml-2  "></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-block mb-5 mb-lg-0">
                    <img src="images/service/service-6.jpg" alt
                        class="img-fluid">
                    <div class="content">
                        <h4 class="mt-4 mb-2 title-color">CONSENT TO
                            RELEASE</h4>
                        <p class="mb-4 text-sm">This Consent to Release Form allows us
                            to disclose information related to your treatment,
                            psychiatric history, or current medications only to
                            specific resources that you specify.</p>
                        <a href="https://irp.cdn-website.com/902baffd/files/uploaded/5.0%20Consent-to-Release-Information%20%281%29.pdf" target="_blank"
                            class="btn btn-main-2 btn-round-full mt-3">Download<i
                                class="icofont-simple-right ml-2  "></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-block mb-5 mb-lg-0">
                    <img src="images/service/service-8.jpg" alt
                        class="img-fluid">
                    <div class="content">
                        <h4 class="mt-4 mb-2 title-color">HIPAA NOTICE
                        </h4>
                        <p class="mb-4">We will maintain the privacy of your
                            health information and will not disclose your
                            information to others without your permission, or
                            unless the law requires us to do so.</p>
                        <a href="https://irp.cdn-website.com/902baffd/files/uploaded/7.0%20HIPPA_Notice_10_2019%20%281%29.pdf" target="_blank"
                            class="btn btn-main-2 btn-round-full mt-3">Download<i
                                class="icofont-simple-right ml-2  "></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>