<section class="appoinment section">
    <div class="container">
        <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
            <h3 class="mb-2 title-color">Looking to refer a patient to NeuroSync TMS Therapy in University Place Washington? <br/> Please complete the below form and we'll reach out to the patient directly. Thank you!</h3>
            <form id="appointment-form" class="appoinment-form" method="post" action="#">
                <div class="row">
                    <div class="col-lg-4">
                        <h3 class="mb-2 title-color">Patient's Info</h3>
                        <div class="divider mb-4"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" id="patient_name" name="patient_name" class="form-control" placeholder="Name" required>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <input type="email" id="patient_email" name="patient_email" class="form-control" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" id="patient_phone" name="patient_phone" class="form-control" placeholder="Phone" required>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" id="patient_country" name="patient_country" class="form-control" placeholder="Country" required>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" id="patient_address" name="patient_address" class="form-control" placeholder="Address" required>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" id="patient_address_ext" name="patient_address_ext" class="form-control" placeholder="Apt/Suite/Other (Optional)">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" id="patient_city" name="patient_city" class="form-control" placeholder="City" required>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" id="patient_state" name="patient_state" class="form-control" placeholder="State" required>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" id="patient_postal" name="patient_postal" class="form-control" placeholder="Postal Code" required>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" id="patient_dob" name="patient_dob" class="form-control" placeholder="Date of Birth (mm/dd/yyyy)" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <h3 class="mb-2 mt-4 title-color">Referring Provider's Info</h3>
                        <div class="divider mb-4"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" id="provider_name" name="provider_name" class="form-control" placeholder="Name" required>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <input type="email" id="provider_email" name="provider_email" class="form-control" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" id="provider_phone" name="provider_phone" class="form-control" placeholder="Phone" required>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" id="provider_address" name="provider_address" class="form-control" placeholder="Address" required>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" id="provider_fax" name="provider_fax" class="form-control" placeholder="Fax (Optional)">
                        </div>
                    </div>
                </div>
                <div class="form-group-2 mb-4">
                    <textarea id="referral_reason" name="referral_reason" class="form-control" rows="3" placeholder="Reason for Referral" required></textarea>
                </div>
                <div class="form-group-2 mb-4">
                    <textarea id="add_note" name="add_note" class="form-control" rows="3" placeholder="Additional Notes (Optional)"></textarea>
                </div>
                <button type="submit" class="btn btn-main btn-round-full">Submit Referral</button>
            </form>
        </div>
    </div>
</section>
