<section class="section about">
    <div class="container">
        <div class="col">
            <p class="text-sm">This Privacy Policy governs the manner in which NeuroSync TMS
                Therapy collects, uses, maintains and discloses information
                collected from users (each, a “User”) of the tmsandgp.com
                website (“Site”).</p>

            <p class="text-sm">This privacy policy is effective as of March 28th, 2023.</p>

            <p class="text-sm"><strong>INTRODUCTION</strong></p>

            <p class="text-sm">We respect the privacy of visitors to our site. This Privacy
                Policy explains some of the steps we have taken to protect your
                privacy.</p>

            <p class="text-sm"><strong>SCOPE</strong></p>

            <p class="text-sm">This Policy applies to information obtained through your usage of
                this website, the pages of which contain a direct link to this
                Policy. This Policy does not apply to information collected from
                other sources, whether offline or online. This Policy also does
                not apply to any third party websites to which this website may
                link or from which this website may be linked. Neurosync TMS
                Therapy does not control the content or privacy practices of
                third party websites.</p>

            <p class="text-sm">This website is intended for U.S. residents only. Please read
                carefully the Terms of Use for information on the purpose and
                use of this website.</p>

            <p class="text-sm"><strong>PERSONAL INFORMATION</strong></p>

            <p class="text-sm">“Personal information” means any information that may be used to
                identify an individual. Personal information includes
                information such as your name, address, telephone number, e-mail
                address, and other similar information.</p>

            <p class="text-sm"><strong>COLLECTION OF PERSONAL INFORMATION</strong></p>

            <p class="text-sm">To request an appointment or consultation, you must first
                complete a brief form of which you elect to complete. During
                registration you are required to provide certain personal
                information (such as name, demographics information, email, and
                other personal and sensitive information). By registering, you
                agree to receive certain communications from Neurosync TMS
                Therapy and/or receive a telephone call or email response. After
                registration, you may be given the option as to whether or not
                you want to receive other types of communication from us.</p>

            <p class="text-sm">We collect personal information about you, including personal
                information that you provide when you register to use this site
                (as described above). You may access and browse some of our
                website without disclosing personal information. Please be
                aware, however, that providing certain requested information may
                be necessary for you to participate in particular features or
                services described on this site.</p>

            <p class="text-sm"><strong>ACCESS TO PERSONAL INFORMATION</strong></p>

            <p class="text-sm">To update or change the personal information you have provided
                Neurosync TMS Therapy or to unsubscribe from Neurosync TMS
                Therapy, you may send us a request at <a
                    href="mailto:info@tmsandgp.com">info@tmsandgp.com</a>.</p>

            <p class="text-sm"><strong>USE OF PERSONAL INFORMATION</strong></p>

            <p class="text-sm">Personal information collected through our website is used by us
                to, among other things, process and manage registrations,
                operate and improve our website, track site usage policies and
                statistics, make the sites or services easier to use by
                eliminating the need for you to repeatedly enter the same
                information, and for other purposes pursuant to your consent. We
                also use your personal information to communicate with you in
                other ways. For instance, when you register on this site or
                complete a registration form, we may use your personal
                information to send you an email through <a
                    href="mailto:info@tmsandgp.com">info@tmsandgp.com</a>
                confirming your registration. We may also use personal
                information to inform you of significant changes to this Privacy
                Policy.</p>

            <p class="text-sm"><strong>DISCLOSURE OF PERSONAL INFORMATION</strong></p>

            <p class="text-sm">We may provide personal information to other companies who
                provide services on our behalf, such as creating your account,
                handling the processing and delivery of communications, hosting
                this website, and delivery of content and services provided by
                this website.</p>

            <p class="text-sm">We may access, use or disclose your personal information for
                other reasons, including if we believe such action is necessary
                to comply with the law or legal process, protect and defend our
                rights or property, protect the personal safety of users of our
                website or members of the general public, enforce our Terms of
                Use or other agreements, investigate or take action with respect
                to illegal or suspected illegal activities, in connection with a
                corporate transaction, such as a divestiture, merger,
                consolidation, asset sale, or in the unlikely event of
                bankruptcy, or otherwise pursuant to your consent.</p>

            <p class="text-sm">Personal information will not be posted or published by us, and
                except as specified in this Privacy Policy, it will not be
                provided to third-parties without your consent.</p>

            <p class="text-sm"><strong>SECURITY</strong></p>

            <p class="text-sm">We have implemented procedures to help protect the personal
                information that you provide to us. However, no method of
                transmitting or storing electronic data is ever completely
                secure, and we cannot guarantee that such information will never
                be accessed, used, or released in a manner that is inconsistent
                with this policy.</p>

            <p class="text-sm"><strong>CHILDREN'S POLICY</strong></p>

            <p class="text-sm">We do not knowingly collect personal information from children
                under 13. Should we learn that a child under 13 has provided us
                with personal information we will delete that information from
                our database.</p>

        </div>
    </div>
</section>