<section class="section ready-footer">
    <div class="bg-container"></div>
    <div class="container content text-sm">
        <div class="row flex-column align-items-center pl-4 mt-4 mt-lg-0">
            <h2 class="title-color">Ready to get started? </h2>
            <div class="divider my-4"></div>
            <p class="col-sm-9 pl-4 title-color text-med">Our commitment at NeuroSync TMS Therapy
                is to enhance the mental wellness of our community in
                Pierce County. We specialize in providing customized
                treatment plans to help you achieve a life that you can
                be proud of.</p>
            <p class="col-sm-9 pl-4 title-color text-med">Our team is dedicated to assisting you in finding the
                mental wellness you deserve, whether it's for anxiety,
                depression, PTSD, OCD or other mental health
                concerns.</p>

            <a href="appoinment.html"
                class="btn btn-main-2 btn-round-full btn-icon mt-4">Request a
                TMS Consult<i class="icofont-simple-right ml-3"></i></a>
        </div>
    </div>
</section>