<!-- // remove adhd and bipolar
remove medicare and humana
hours 8-5 mon-day
sat-sun closed
-->

<section class="section service gray-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<h2>Conditions we treat</h2>
					<div class="divider mx-auto my-4"></div>
					<p class="text-med">Our treatment requires zero medication and is non-invasive. We ensure
						that our patients are reducing side effects and are achieving their mental
						healthcare goals.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class=" service-item d-flex align-items-center mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-laboratory text-lg"></i>
						<h4 class="mt-3 mb-3">Anxious Depression</h4>
					</div>

				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class=" service-item d-flex align-items-center mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-autism text-lg"></i>
						<h4 class="mt-3 mb-3">Bipolar Disorder (BPD)</h4>
					</div>

				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class=" service-item d-flex align-items-center mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-heart-beat-alt text-lg"></i>
						<h4 class="mt-3 mb-3">Anxiety</h4>
					</div>

				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class=" service-item d-flex align-items-center mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-brain text-lg"></i>
						<h4 class="mt-3 mb-3">Obsessive Compulsive Disorder (OCD)</h4>
					</div>

				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class=" service-item d-flex align-items-center mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-brain-alt text-lg"></i>
						<h4 class="mt-3 mb-3">Post-Traumatic Stress Disorder (PTSD)</h4>
					</div>

				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class=" service-item d-flex align-items-center mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-dna-alt-1 text-lg"></i>
						<h4 class="mt-3 mb-3"> Major Depressive Disorder (MDD)</h4>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>