<section class="section about">
    <div class="container">
        <div class="col">
            <p class="text-sm">By accessing and using the tmsandgp.com website you accept the
                contents of this Agreement. If you do not agree to the Terms and
                Conditions of Use for this service, you may not use the
                tmsandgp.com website.</p>

            <p class="text-sm">We may modify this Agreement at anytime. Any modifications made
                to this Agreement will be effective immediately upon posting on
                the site. By accessing the tmsandgp.com website you agree to be
                bound by the Terms and Conditions of Use posted on the site at
                the time of your access or use. You agree to review the Terms
                and Conditions of Use posted on the tmsandgp.com website each
                time you use the tmsandgp.com website so that you are aware of
                any modifications made to this Agreement. We reserve the right
                at any time and from time to time to modify or discontinue,
                temporarily or permanently the tmsandgp.com website, or any part
                thereof, with or without notice.</p>

            <p class="text-sm">The tmsandgp.com website should not be used for emergency or
                urgent medical issues that require immediate medical attention.
                In a medical emergency, dial 911 (in the United States) or call
                or seek care with your local emergency services provider or
                Emergency Room.</p>

            <p class="text-sm">The tmsandgp.com website is provided by Neurosync TMS Therapy to
                improve the health care of its members. The website allows
                members to discuss health issues for free with medical doctors.
                From the tmsandgp.com website a member or user may be able to
                schedule an appointment, submit a questions, or communicate with
                a doctor or Neurosync TMS Therapy staff member on many sensitive
                health issues. Upon connecting with a doctor(s), the doctor(s),
                or Affordable TMS & General Psychiatry staff member we may
                provide feedback or connect with you on the information that you
                provide. The information provided to you on this website is not
                intended to diagnose or suggest a diagnosis, and is provided to
                you for your information and/or for informational purposes. If
                you speak with a Affordable TMS & General Psychiatry doctor or
                staff member, we may assist you in making a medical decision and
                this discussion should not be used for self-diagnosis or
                treatment, or as a substitute for professional medical advice
                from your primary care doctor or in lieu of scheduling a full
                evaluation with one of our doctors, physicians or nurse
                practitioners.</p>

            <p class="text-sm">The general information provided on the tmsandgp.com website is
                not a substitute for the advice of your personal physician or
                other qualified health care professional. Always seek the advice
                of your physician or other qualified health care professional
                with any questions you may have regarding your medical or mental
                health related symptoms or a medical or psychiatric condition.
                Never disregard professional medical advice or delay in seeking
                it because of something you have read or heard on the
                tmsandgp.com website.</p>

            <p class="text-sm">While Neurosync TMS Therapy strives through this medium to
                provide access to medical and psychiatric information from
                healthcare professionals, tmsandgp.com makes no warranties or
                representations as to the reliability, accuracy, timeliness,
                usefulness, adequacy or suitability of the information provided
                to you on this website. Affordable TMS & General Psychiatry does
                not assume any liability for any information, omissions, or
                inaccuracies in the information that you may receive from the
                tmsandgp.com website. Your use of the tmsandgp.com website is
                considered to be at your own free will.</p>

            <p class="text-sm">No physician-patient relationship is created through the use of
                this website. Also, because information transmitted over the
                Internet or by e-mail may not be secure and may be viewable or
                accessible by third-parties, Neurosync TMS Therapy cannot
                guarantee the privacy or security of information you choose to
                submit to through this website.</p>

            <p class="text-sm">In consideration of being allowed to use the tmsandgp.com
                website, you agree that the following actions shall constitute a
                material breach of these Terms and Conditions of Use:</p>
            <ul>
                <li>Signing on as another person without the permission of the
                    authorized member/user</li>
                <li>Transmitting material that infringes or violates the
                    intellectual property rights of others or the privacy or
                    publicity rights of others</li>
                <li>Transmitting material that is unlawful, obscene, defamatory,
                    predatory of minors, threatening, harassing, abusive,
                    slanderous, or hateful to any person or entity as determined
                    by Neurosync TMS Therapy in its sole discretion</li>
                <li>Using the tmsandgp.com website in a way that is intended to
                    harm, or a reasonable person would understand would likely
                    result in harm, to the user or others</li>
                <li>Collecting information about others, including email
                    addresses</li>
                <li>Intentionally distributing viruses or other harmful computer
                    code</li>
            </ul>

            <p class="text-sm">You agree, at your own expense, to indemnify, defend and hold
                harmless Neurosync TMS Therapy and its representatives, and
                agents, against any claim, suit, action or other proceeding
                against Affordable TMS & General Psychiatry, its representatives
                and agents, by a third party, to the extent that such claim,
                suit, action or other proceeding is based on or arises in
                connection with your use of the website, or any links on the
                website, including, but not limited to: (i) your use or someone
                using your computer's use of the website; (ii) a violation of
                the terms set forth in this document by you or anyone using your
                computer or password; (iv) a claim that any use of the website
                by you or someone using your computer or password infringes any
                intellectual property right of any third party, is libelous or
                defamatory, or otherwise results in injury or damage to any
                third party; (v) any deletions, additions, insertions or
                alterations to, or any unauthorized use of, the website by you
                or someone using your computer or password; (vi) any
                misrepresentation or breach of representation or warranty made
                by you contained herein: or (vii) any breach of any covenant or
                agreement to be performed by you hereunder. You agree to pay any
                and all costs, damages and expenses, including, but not limited
                to, reasonable attorneys' fees and costs awarded against or
                otherwise incurred by or in connection with or arising from any
                such claim, suit, action or proceeding attributable to any such
                claim.</p>

            <p class="text-sm">The terms of this Legal Statement shall be governed by, and
                construed in accordance with, the laws of the State of
                Washington applicable to contracts made and to be fully
                performed in such State without reference to principles of
                conflict of laws. The user of this website agrees that by using
                this website they submit to the jurisdiction of the Supreme
                Court of the State of Washington and the United States District
                Court for Washington for the enforcement of the terms of this
                Legal and Privacy Statement and any disputes related to same and
                agrees to service of process by mail.</p>

            <p class="text-sm">Neurosync TMS Therapy expressly reserves the right, in its sole
                discretion, to terminate a user's access to any interactive
                services and/or to any or all other areas of the Websites due to
                any act that would constitute a violation of these Terms and
                Conditions of Use.</p>

        </div>
    </div>
</section>