<section class="section testimonial-2 gray-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="section-title text-center">
					<h2>Here's how TMS Therapy helped other patients</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12 testimonial-wrap-2">
				<div class="testimonial-block style-2  gray-bg">
					<i class="icofont-quote-right"></i>

					<div class="testimonial-thumb">
						<!-- <img src="images/team/test-thumb1.jpg" alt class="img-fluid"> -->
						<i class="icofont-woman-in-glasses mr-4 mb-5"></i>
					</div>

					<div class="client-info">
						<h4>Najmah</h4>
						<span>TMS Patient</span>
						<p class="mt-4">
							I not only feel much better, I was able to get to know the amazing staff
							at the office! I feel alive again. I am so glad I decided to give it a
							try. I am so glad finished all the sessions. It works!
						</p>
					</div>
				</div>

				<div class="testimonial-block style-2  gray-bg">
					<div class="testimonial-thumb">
						<!-- <img src="images/team/test-thumb2.jpg" alt class="img-fluid"> -->
						<i class="icofont-girl mr-4 mb-5"></i>
					</div>

					<div class="client-info">
						<h4>Gayle</h4>
						<span>TMS Patient</span>
						<p class="mt-4">
							The staff are very committed to providing the best experience possible.
							They really go out of their way to make you feel important and respected.
							I have been getting treatment for 3 weeks now and I truly feel that it
							has changed my life. Thank you!!
						</p>
					</div>

					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block style-2  gray-bg">
					<div class="testimonial-thumb">
						<!-- <img src="images/team/test-thumb3.jpg" alt class="img-fluid"> -->
						<i class="icofont-girl-alt mr-4 mb-5"></i>
					</div>

					<div class="client-info">
						<h4>Jamie</h4>
						<span>TMS Patient</span>
						<p class="mt-4">
							I've dealt with depression and anxiety for many years. Medications were
							not successfully managing my symptoms. TMS really helped to get my
							symptoms under control.
						</p>
					</div>

					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block style-2  gray-bg">
					<div class="testimonial-thumb">
						<!-- <img src="images/team/test-thumb4.jpg" alt class="img-fluid"> -->
						<i class="icofont-woman-in-glasses mr-4 mb-5"></i>
					</div>

					<div class="client-info">
						<h4>Vicki</h4>
						<span>TMS Patient</span>
						<p class="mt-4">
							My life now, after TMS, has been wonderful. I got my energy back, I got
							my zeal back, my love for music is back, and my depression has gone way
							down. It's just wonderful, I don't even know how to explain it. It works.
						</p>
					</div>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block style-2  gray-bg">
					<div class="testimonial-thumb">
						<!-- <img src="images/team/test-thumb1.jpg" alt class="img-fluid"> -->
						<i class="icofont-girl mr-4 mb-5"></i>
					</div>

					<div class="client-info">
						<h4>Buffie</h4>
						<span>TMS Patient</span>
						<p class="mt-4">
							My life before Deep TMS was a blur. I remember feeling like it was a
							great day when I was just able to get out of bed and shower… After I
							tried Deep TMS, it was like the light came back on in my life and in my
							eyes.
						</p>
					</div>
					<i class="icofont-quote-right"></i>
				</div>
			</div>
		</div>
	</div>
</section>