<section class="section testimonial gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-6">
				<div class="section-title">
					<h2 class="mb-4">What they say about us</h2>
					<div class="divider  my-4"></div>
				</div>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-lg-6 testimonial-wrap offset-lg-6">
				<div class="testimonial-block">
					<div class="client-info ">
						<h4>Najmah</h4>
						<span>TMS Patient</span>
					</div>
					<p>
						I not only feel much better, I was able to get to know the amazing staff
						at the office! I feel alive again. I am so glad I decided to give it a
						try. I am so glad finished all the sessions. It works!
					</p>
					<i class="icofont-quote-right"></i>

				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Gayle</h4>
						<span>TMS Patient</span>
					</div>
					<p>
						The staff are very committed to providing the best experience possible.
						They really go out of their way to make you feel important and respected.
					</p>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Jamie</h4>
						<span>TMS Patient</span>
					</div>
					<p>
						I've dealt with depression and anxiety for many years. Medications were
						not successfully managing my symptoms. TMS really helped to get my
						symptoms under control.
					</p>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Vicki</h4>
						<span>TMS Patient</span>
					</div>
					<p class="mt-4">
						My life now, after TMS, has been wonderful. I got my energy back, I got
						my zeal back, my love for music is back, and my depression has gone way
						down. It's just wonderful!
					</p>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block">
					<div class="client-info">
						<h4>Buffie</h4>
						<span>TMS Patient</span>
					</div>
					<p>
						My life before Deep TMS was a blur. I remember feeling like it was a
						great day when I was just able to get out of bed and shower. After I
						tried Deep TMS, it was like the light came back on in my life!
					</p>
					<i class="icofont-quote-right"></i>
				</div>
			</div>
		</div>
	</div>
</section>